<!DOCTYPE html>
<!--suppress HtmlUnknownAttribute, HtmlRequiredLangAttribute -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${action == 'create' ? 'Create Article' : 'Edit Article'}"></title>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" />
    <script th:inline="javascript">
        const action = [[${action}]];
        const articleId = [[${articleId}]];
    </script>
</head>
<body>
    <h1 th:text="${action == 'create' ? 'Create New Article' : 'Edit Article'}">Article Edit Form</h1>

    <p><a href="list.html" th:href="@{/articles}">Back to Articles List</a></p>

    <form id="article-form">
        <input type="hidden" id="id" />
        <div class="form-row">
            <label for="title">Title:</label>
            <br/>
            <input type="text" id="title" required />
        </div>
        <div class="form-row">
            <label for="authors">Authors (select multiple):</label>
            <br/>
            <select id="authors" multiple required></select>
        </div>
        <div class="form-row">
            <label for="journal">Journal:</label>
            <br/>
            <select id="journal" required></select>
        </div>
        <button type="submit">Save</button>
    </form>

    <p><a href="list.html" th:href="@{/articles}">Back to Articles List</a></p>

    <script th:src="@{/js/articles-edit.js}"></script>
</body>
</html>
